/* root
-------------------- */

:root {
  --black: #000;
  --gray1: #333;
  --gray2: #4f4f4f;

  /* stylelint-disable value-keyword-case */
  --font-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-playfair-display: Playfair Display, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  /* stylelint-enable value-keyword-case */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* common
-------------------- */

.container {
  max-width: 1280px;
  padding: 0 8%;
  margin: 0 auto;
}

/* article header
-------------------- */

.header {
  margin-top: 48px;
}

.header-text {
  padding-right: 40%;
  margin-top: 40px;
}

.header-text__page-title {
  font-family: var(--font-playfair-display);
  font-size: 48px;
  font-style: normal;
  font-weight: bold;
  line-height: 64px;
  color: var(--black);
}

.header-text__description {
  display: inline-flex;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray2);
}

.header-text__description::before {
  margin-right: 8px;
  content: url('/images/6dots.svg');
}

.header__img-block {
  width: 100%;
  margin-top: 32px;
}

/* article content
-------------------- */

.contents {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.recipe h2 {
  font-family: var(--font-playfair-display);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  color: var(--gray1);
}

.recipe h3 {
  margin-top: 32px;
  font-family: var(--font-playfair-display);
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  line-height: 24px;
  color: var(--gray1);
}

.recipe em {
  font-style: normal;
  font-weight: 700;
}

/* recipe ingredients */

.recipe-ingredients ul {
  list-style: none;
  padding-inline-start: 0;
}

.recipe-ingredients li {
  margin-bottom: 4px;
}

.recipe-ingredients li:last-child {
  margin-bottom: 0;
}

.recipe-ingredients label {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: var(--black);
}

.recipe-ingredients input[type='checkbox'] {
  display: inline-flex;
  align-items: baseline;
  margin-right: 12px;
}

/* recipe instructions */

.recipe-instructions h2 {
  margin-top: 28px;
}

/* footer
-------------------- */

.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__signature {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray);
}
